@font-face {
    font-family: 'MrsEavesSmallCaps';
    src: url('MrsEavesSmallCaps.woff2') format('woff2'),
        url('MrsEavesSmallCaps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

